@keyframes blink {
  0%,
  100% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
}

.cursor {
  display: inline-block;
  width: 8px;
  height: 16px;
  background-color: currentColor;
  margin-left: 2px;
  animation: blink 1s step-end infinite;
}

.cursorThin {
  display: inline-block;
  width: 2px;
  height: 16px;
  background-color: currentColor;
  margin-left: 2px;
  animation: blink 1s step-end infinite;
}

